[submodule "Hw4/Hw4/cmake-build-debug/googletest-src"]
	path = Hw4/Hw4/cmake-build-debug/googletest-src
	url = https://github.com/google/googletest.git
[submodule "Hw5/Hw5/build/googletest-src"]
	path = Hw5/Hw5/build/googletest-src
	url = https://github.com/google/googletest.git
